<div class="register-text">
    <h1>One Last Step!</h1>
</div>
<div class="seperator"></div>
<form>
    <div class="form-group">
        <label for="username">Describe yourself in a few words</label>
        <!-- <input type="text" id="username" placeholder="Your Username" class="input-field"> -->
        <textarea name="description" id="" cols="40" rows="10"></textarea>
        <small>Supporting text</small>
    </div>
</form>
<div class="seperator"></div>
<button type="submit" class="register-btn">Create account</button>
<div class="seperator"></div>