<div class="register-text">
    <h1>Login</h1>
</div>
<div class="seperator"></div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="userKey">Email / Username</label>
        <input type="text" id="userKey" placeholder="Your Email or Username" class="input-field" formControlName="userKey">
        <div
            *ngIf="myForm.controls.userKey.invalid && (myForm.controls.userKey.dirty || myForm.controls.userKey.touched)">
            <div *ngIf="myForm.controls.userKey.errors?.required">Username / email is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="********" class="input-field" formControlName="password">
        <div
            *ngIf="myForm.controls.password.invalid && (myForm.controls.password.dirty || myForm.controls.password.touched)">
            <div *ngIf="myForm.controls.password.errors?.required">Password is required.</div>
        </div>
    </div>
    <div class="seperator"></div>
    <button type="submit" class="register-btn">Login</button>
</form>