.blog-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.blog-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--special-color);
    text-align: left;
}

.date {
    font-size: 1rem;
    color: #aaa;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.description {
    font-size: 1rem;
    color: #666;
}