<div class="container">
    <div class="hero-section">
        <div class="profile-photo">
            <div class="avatar-container">
                <img [src]="userData.userImage" alt="Avatar" class="avatar">
            </div>

            <h2>{{userData.username}}</h2>
            <button class="my-button follow-btn" (click)="changeFollow()" *ngIf="isLoggedIn">
                <div *ngIf="!isFollowing">Follow</div>
                <div *ngIf="isFollowing">Unfollow</div>
            </button>
            <div class="follow-info">
                <span class="followers">
                    <strong>{{followDetails.followersCount}}</strong> Followers
                </span>
                <span class="following">
                    <strong>{{followDetails.followingCount}}</strong> Following
                </span>
            </div>
        </div>
    </div>

    <div class="main-section">
        <div class="contribution-stats">
            <div class="stat-card">
                <div class="stat-value">{{userData.streak.total_blogs}}</div>
                <div class="stat-label">Total Blogs</div>
            </div>
            <div class="stat-card">
                <div class="streak-container">
                    <div class="fire-icon">
                        <svg viewBox="0 0 24 24">
                            <path
                                d="M13.5 0.67s0.74 2.65 0.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l0.03-0.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5 0.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-0.36 3.6-1.21 4.62-2.58 0.39 1.29 0.59 2.65 0.59 4.04 0 2.65-2.15 4.8-4.8 4.8z">
                            </path>
                        </svg>
                    </div>
                    <div class="streak-value">{{userData.streak.current}}</div>
                </div>
                <div class="stat-label">Current Streak</div>
            </div>
            <div class="stat-card">
                <div class="stat-value">{{userData.streak.longest}}</div>
                <div class="stat-label">Longest Streak</div>
            </div>
        </div>

        <div class="user-blog-showcase-section">
            @for (blog of blogs; track blog) {
            <app-blog-showcase-component [blog]="blog" />
            }
        </div>
    </div>
</div>